{% extends "tip_tracker_app/base.html" %}

{% block header %}

{% endblock header %}
<h1 class="font-monospace fs-1 fw-normal" style="color: rgb(44,17,30);background: rgba(0,150,208,0.32);border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">Tip Tracker</h1>
{% block content %}
<p class="font-monospace fs-5 text-dark head-paragraph mb-5" style="color: rgb(0,0,0);">It&#39;s your money and you need it now!</p>
<p>
    Tip Tracker for helping to track tips, CC, cash, and wages paid. then maybe account for taxes
</p>
<p>
    <a href="{% url 'tip_tracker_app:new_entry' %}">add a new entry</a>
</p>

{% endblock content %}